<div class="row">
    <div class="col-sm-9">
        <h2>Students not eat list</h2>
    </div>
    <div class="col-sm-3">
        <button (click)="getStudentsWhoHaveNotEaten()" class="btn btn-success btn-md">Load Data</button>
    </div>
    
</div>

<div mat-form-field>
    <input mat-input placeholder="Filter" (keyup)="applyFilter($event.target.value)" >
</div>
<div class="mat-elevation-z8">
    <table mat-table matSort [dataSource]="studentsWhoHaveNotEatenDataSource">
        <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
        <!-- Student ID Column -->
        <ng-container matColumnDef="student_id">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.student_id}} </td>
        </ng-container>
    
        <!-- First Name Column -->
        <ng-container matColumnDef="first_name">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> First Name </th>
            <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
        </ng-container>
    
        <!-- Last Name Column -->
        <ng-container matColumnDef="last_name">
            <th mat-header-cell *matHeaderCellDef> Last Name </th>
            <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
        </ng-container>
    
        <!-- Missed Count Column -->
        <ng-container matColumnDef="missed_count">
            <th mat-header-cell *matHeaderCellDef> Missed Count </th>
            <td mat-cell *matCellDef="let element"> {{element.missed_count}} </td>
        </ng-container>
    
        <!-- Major Column -->
        <ng-container matColumnDef="major">
            <th mat-header-cell *matHeaderCellDef> Major </th>
            <td mat-cell *matCellDef="let element"> {{element.major}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="10"
              [pageSize]="5"
              [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>

</div>
  
  